<div ng-controller="movieSearchController as SearchController">

    <!--<md-content layout-padding>
        <div layout="row" flex>
            <md-input-container md-no-float flex>
                <input id="query" ng-model="filter" type="text" placeholder="Search...">
                <select ng-init="key='movie'" ng-model="key" id="searchType" hidden="hidden">
                    <option ng-bind-html="category.icon" ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
                </select>
            </md-input-container>
            <md-input-container>
                <label>Category</label>
                <md-select ng-init="key='movie'" ng-model="key" id="searchType">
                    <md-option ng-repeat="category in categories" value="{{category.id}}" ng-bind-html="category.icon">
                        <md-icon class="material-icons md-36">{{category.icon}}</md-icon>
                        {{category.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </md-content>
    <md-divider></md-divider>-->
	<h2>Favorites</h2>
	<md-divider></md-divider>
    <md-content class="md-padding" layout="row" layout-wrap ng-controller="favoriteController">
        <div ng-repeat="movie in list" flex="20" flex-sm="33" flex-xs="50">
            <md-card>
                <a href="#/movie/{{movie.id}}"><img ng-src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" err-src="img/movie-placeholder.jpg" class="md-card-image"/></a>
                <img ng-src="https://image.tmdb.org/t/p/w500{{movie.profile_path}}" err-src="img/movie-placeholder.jpg" class="md-card-image"/>                
                <favorite-icon-main toggle="icon_type" mid="movie.id" favorites="favorites" tvs="tvs" list="list" tvlist="tvlist" type="'movie'"></favorite-icon-main>
            </md-card>            
        </div>
		<div ng-repeat="tv in tvlist" flex="20" flex-sm="33" flex-xs="50">
            <md-card>
                <a href="#/tv/{{tv.id}}"><img ng-src="https://image.tmdb.org/t/p/w500{{tv.poster_path}}" err-src="img/movie-placeholder.jpg" class="md-card-image"/></a>
                <img ng-src="https://image.tmdb.org/t/p/w500{{movie.profile_path}}" err-src="img/movie-placeholder.jpg" class="md-card-image"/>                
                <favorite-icon-main toggle="icon_type" mid="tv.id" favorites="favorites" tvs="tvs" list="list" tvlist="tvlist" type="'tv'"></favorite-icon-main>
            </md-card>            
        </div>
    </md-content>

</div>
