<div ng-controller="movieSearchController as SearchController">

    <md-content layout-padding>
        <div layout="row" flex>
            <md-input-container md-no-float flex>
                <input id="query" ng-model="filter" type="text" placeholder="Search...">
                <select ng-init="key='movie'" ng-model="key" id="searchType" hidden="hidden">
                    <option ng-repeat="category in categories" value="{{category.id}}"><i class="material-icons">{{category.icon}}</i>{{category.name}}</option>
                </select>
            </md-input-container>
            <md-input-container>
                <label>Category</label>
                <md-select ng-init="key='movie'" ng-model="key" id="searchType">
                    <md-option ng-repeat="category in categories" value="{{category.id}}">
                        <md-icon class="material-icons md-36">{{category.icon}}</md-icon>
                        {{category.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </md-content>
    <md-divider></md-divider>
    <md-content class="md-padding" layout="row" layout-wrap>
        <div ng-repeat="movie in movies | filter:search" flex="20" flex-sm="33" flex-xs="50">
            <md-card>
                <a href="#/{{key}}/{{movie.id}}"><img ng-src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" err-src="img/movie-placeholder.jpg" class="md-card-image"/></a>
                <img ng-src="https://image.tmdb.org/t/p/w500{{movie.profile_path}}" err-src="img/movie-placeholder.jpg" class="md-card-image"/>                
                <favorite-icon toggle="icon_type" mid="movie.id" favorites="favorites" tvs="tvs" type="type"></favorite-icon>
            </md-card>            
        </div>
    </md-content>

</div>
