<div ng-controller="movieController">
    <div ng-repeat="movieData in movieData">
        <div style="background-size: cover; background: url('https://image.tmdb.org/t/p/w1920{{movieData.backdrop_path}}') fixed top center no-repeat;" layout="row" layout-xs="column" layout-padding>
            <div flex="25" flex-sm="33" flex-xs="50">
                <img ng-src="https://image.tmdb.org/t/p/w500{{movieData.poster_path}}" err-src="img/movie-placeholder.jpg"/>
            </div>
        </div>
        <div flex>
            <h3 class="md-headline">{{movieData.title}}</h3>
        </div>
    </div>
</div>
<div ng-controller="movieCastController">
    <div flex>
        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Cast</span>
            </div>
        </md-toolbar>

        <md-content>
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="actor in actors">
                    <img ng-src="https://image.tmdb.org/t/p/w500{{actor.profile_path}}" err-src="img/movie-placeholder.jpg" class="md-avatar" alt="{{actor.name}}"/>
                    <div class="md-list-item-text" layout="column">
                        <a href="#/actor/{{actor.id}}">
                            <h3>{{actor.name}}</h3>
                            <h4>{{actor.character}}</h4>
                        </a>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
